<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
	    <title>Supplier - Dashboard</title>
	    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /> 
		<link rel="stylesheet" type="text/css" th:href="@{/main.css}" />
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script type="text/javascript" th:src="@{/main.js}" />
	</head>
	<body>
		<div class="centerDiv">
			This is the dash. Only registered users can see this.  <a href="logout">Logout</a>
			<h1 th:text="${user.name}">Name</h1>
			<table>
				<tr>
					<th>Order</th>
					<th>Item</th>
					<th>Quantity</th>
					<th>Cost</th>
				</tr>
				<tr th:each="order : ${orders}">
					<tr>
						<td rowspan="${orders.size}">
							Order <span th:text="${order.id}">id</span>
						</td>
						<td>
							<ul th:each="item : ${order.orders}">
								<li th:text="${item.itemName}">item</li>
							</ul>
						</td>
						<td>
							<p th:each="item : ${order.orders}">
								<span th:text="${item.quantity}">quantity</span>
							</p>
						</td>
						<td>
							<p th:each="item : ${order.orders}">
								€ <span th:text="${item.cost}">cost</span>
							</p>
						</td>
					</tr>
					<tr>
						<td colspan="2">
							Order Total:
						</td>
						<td colspan="2">
							€ <span th:text="${order.cost}">totalCost</span>
						</td>
					</tr>
					<tr th:if="${order.owed} > 0">
						<td colspan="2">
							Amount Owed:
						</td>
						<td colspan="2">
							€ <span th:text="${order.owed}">totalOwed</span>
						</td>
					</tr>
					<tr th:if="${order.owed} > 0">
						<td colspan="4">
							<form class="payForm" name="payment">
								Pay Amount: €<input type="number" min="0.01" th:max="${order.owed}" step="0.01" value="0" name="payment"/>
								<input type="submit" value="Submit" name="submit" />
								<input type="hidden" name="order" th:value="${order.id}" />
								<input class ="token" type="hidden" name="token" th:value="${token}" />
							</form>
						</td>
					</tr>
				</tr>
			</table>
		</div>
	</body>
</html>